<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
 




 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );

  </script>
</head>

<h1>My Jobs List</h1>
<h2> Today's Hours: 4.5 </h2>


  <div id="sortable" draggable="true">
    <h2>
      John Stevenson 15 W. Quincy St. Westmont Dur(0.5) - id(9) - Pri:10
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/59">Remove</a></button>
      <button><a href="/carted_products/59/edit">Edit</a></button>
    
    </h2>
  </div>

  <div id="sortable" draggable="true">
    <h2>
      Bob Weir 6015 Cass Ave. Westmont Dur(0.5) - id(2) - Pri:8
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/54">Remove</a></button>
      <button><a href="/carted_products/54/edit">Edit</a></button>
    
    </h2>
  </div>

  <div id="sortable" draggable="true">
    <h2>
      Matt Jones 8109 Cass Ave. Darien Dur(0.25) - id(3) - Pri:7
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/56">Remove</a></button>
      <button><a href="/carted_products/56/edit">Edit</a></button>
    
    </h2>
  </div>

  <div id="sortable" draggable="true">
    <h2>
      William Kreutzman 14 N. Cass Ave. Darien Dur(0.5) - id(1) - Pri:6
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/55">Remove</a></button>
      <button><a href="/carted_products/55/edit">Edit</a></button>
    
    </h2>
  </div>

  <div id="sortable" draggable="true">
    <h2>
      Alan Beergut 25 E. Hinsdale Ave. Hinsdale Dur(1.25) - id(4) - Pri:5
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/58">Remove</a></button>
      <button><a href="/carted_products/58/edit">Edit</a></button>
    
    </h2>
  </div>

  <div id="sortable" draggable="true">
    <h2>
      Jerry Garcia 6010 Cass Ave. Westmont Dur(1.5) - id(28) - Pri:0
        


      <button><a rel="nofollow" data-method="delete" href="/carted_products/57">Remove</a></button>
      <button><a href="/carted_products/57/edit">Edit</a></button>
    
    </h2>
  </div>


  
 

 

<a class="btn btn-success" data-method="get" href="/jobs">Select More Jobs</a>

<a class="btn btn-danger" rel="nofollow" data-method="post" href="/orders">Commit My Jobs!</a>



      

     </div>

   

   

    <!--=== Content Part ===-->
    <div class="container content-sm">
 





          

            <!-- Address -->
            <div align='center'>
              <div class="headline"><h2>Contact Us</h2></div>
              <address class="md-margin-bottom-40">
                25, Lorem Lis Street, Orange <br />
                California, US <br />
                Phone: 800 123 3456 <br />
                Fax: 800 123 3456 <br />
                Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
              </address>
            </div><!--/col-md-3-->
            <!-- End Address -->
          </div>
        </div>
      </div><!--/footer-->



  <!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/html5shiv.js"></script>
  <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
 
</body>
</html>
